<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %>
    <%= f.text_field :id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :long %>
    <%= f.text_field :long %>
  </div>

  <div class="field">
    <%= f.label :lat %>
    <%= f.text_field :lat %>
  </div>

  <div class="field">
    <%= f.label :zone_name %>
    <%= f.text_field :zone_name %>
  </div>

  <div class="field">
    <%= f.label :salesman_name %>
    <%= f.text_field :salesman_name %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.number_field :status %>
  </div>

  <div class="field">
    <%= f.label :last_visited_at %>
    <%= f.date_select :last_visited_at %>
  </div>

  <div class="field">
    <%= f.label :last_invoice_at %>
    <%= f.date_select :last_invoice_at %>
  </div>

  <div class="field">
    <%= f.label :last_trx_amount %>
    <%= f.text_field :last_trx_amount %>
  </div>

  <div class="field">
    <%= f.label :extra1 %>
    <%= f.text_field :extra1 %>
  </div>

  <div class="field">
    <%= f.label :extra2 %>
    <%= f.text_field :extra2 %>
  </div>

  <div class="field">
    <%= f.label :extra3 %>
    <%= f.text_field :extra3 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
