<h1>Customer Import</h1>

<ul>
  <li>Only Excel files (xls, xlsx) are permitted.</li>
  <li>The first row should be for column names.</li>
  <li>Customer id, name, latitude, longitude and status are mandatory</li>
  <li>Last trx amount is a numerical value</li>
  <li>Latitude must be within -90 to 90</li>
  <li>Longitude must be within -180 to 180</li>
  <li>Status must be 1 or 2 or 3</li>
</ul>

<%= form_for @customer_import, :url => do_import_customers_path do |f| %>
  <% if @customer_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_import.errors.count, "error") %> prohibited this import from completion:</h2>
      <ul>
      <% @customer_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>
