<p id="notice"><%= notice %></p>

<h1>Sales Men</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_men.each do |sales_man| %>
      <tr>
        <td><%= sales_man.username %></td>
        <td><%= link_to 'Edit', edit_sales_man_path(sales_man) %></td>
        <td><%= link_to 'Destroy', sales_man, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @sales_men %>

<br>

<%= link_to 'New Sales Man', new_sales_man_path %>
